
.m{
    background-color: lightseagreen;
    color:white;
    margin-left:250px;

    
    
}
.ip1{
    width:330px;
}
a{
    text-decoration: none;
}
.im1{
    border:1px solid black;
    margin-left:300px;
    margin-right:700px;
    border-radius: 10px;
    padding-bottom:20px;
    position:absolute;
    top:300px;
    left:180px;
    width:330px;
    background-color: lightblue;
}





.main{
    border:1px solid black;
    margin-right:380px;
    width:100%;
    
}



b{
    color:lightseagreen;
}
.div1{
    display:block;
    border:1px solid black;
    padding-left:70px;
    opacity:0.2;
}
.div2{
    margin:20px 100px 20px;
    text-align:right;
    opacity:0.2;
}
a{
    text-decoration: none;
    color:black;
}

.div3{
    display:inline-block;
    border:1px solid black;
    color:lightseagreen;
    padding:10px 120px 180px 10px;
    margin-right:10px;
    margin-left:270px;
    opacity:0.2;
}
.divmy{
    display:inline-block;
    border:1px solid black;
    color:lightseagreen;
    padding:10px 90px 180px 10px;
    margin-right:10px;
    opacity:0.2;
    
}
.div4{
    display:inline-block;
    border:1px solid black;
    color:lightseagreen;
    padding:10px 37px 180px 10px;
    margin-right:10px;
    margin-top: 20px;
    margin-left:270px;
    opacity:0.2;
}
.div5{
    display:inline-block;
    border:1px solid black;
    color:lightseagreen;
    padding:10px 78px 180px 10px;
    margin-right:10px;
    margin-top: 20px;
    opacity:0.2;

}
.div6{
    display:inline-block;
    border:1px solid black;
    color:lightseagreen;
    padding:10px 90px 180px 10px;
    margin-right:10px;
    margin-top: 20px;
    opacity:0.2;
}
.l1{
    text-decoration: line-through;
    color:black;
}
.l2{
    color:black;
}

.b{
    border-radius: 60%;
    background-color: lightseagreen;
    color:white;
    border:1px solid lightseagreen;
    position:absolute;
    top:110px;
    margin-left:740px;
    opacity:0.2;
    left:390px;
}

















